@import url('variaveis.css');

header {
    width: 100%;
    margin-bottom: 25px;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        width: 210px;
        height: 35px;
        background-color: var(--realce);
        color: var(--texto-branco);
        font-size: .9rem;
        border-radius: 12px;
        transition: var(--trans02);
    }
    
    & a:hover {
        background-color: var(--realce2);
    }
}

section.lista_seguradoras .frame_seguradoras {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;

    & .card_seguradora {
        background-color: var(--sidebar);
        border-radius: 12px;
        padding: 8px;
        cursor: pointer;
        transition: var(--trans03);
        border: 1px solid transparent;

        & img {
            width: 100%;
            height: 100px;
            border-radius: 12px;
            object-fit: cover;
        }

        & h2 {
            color: var(--realce);
            font-size: 1.1rem;
            margin-top: 15px;
            margin-bottom: 8px;
            text-wrap: nowrap;
            overflow: hidden;
        }

        & span {
            color: var(--texto);
            font-size: .9rem;
        }
    }

    & .card_seguradora:hover {
        /* box-shadow: 0px 0px 15px #0f0f0f1c; */
        border: 1px solid var(--realce);
    }
}