@import url('variaveis.css');

nav.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 15px;
    background-color: var(--sidebar);
    transition: var(--trans04);
    z-index: 2;

    /* Formatação da logo título e btn de fechar sidebar */
    & .logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & img {
            width: 55px;
        }

        & .nome_sistema {
            width: calc(100% - 65px);
            transition: var(--trans02);
            white-space: nowrap;

            & h1 {
                color: var(--realce);
                font-size: 1.3rem;
            }
        }

        & .btn_sidebar {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--realce);
            color: var(--sidebar);
            font-size: 1.3rem;
            cursor: pointer;
            right: -30px;
            transform: rotate(180deg);

            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--trans02);
        }
    }

    & .navigation_buttons {
        height: calc(100% - 85px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Formatação da lista de botões */
    & .navigation_buttons ul li a {
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 12px;
        color: var(--texto);
        font-size: 1rem;
        margin-top: 12px;
        transition: var(--trans02);
        
        & i {
            text-align: center;
            font-size: 1.3rem;
            width: 55px;
        }

        & span {
            width: calc(100% - 55px);
        }
    }

    & .navigation_buttons ul li a:hover {
        background-color: var(--realce);
        color: var(--sidebar);

        & i {
            color: var(--sidebar);
        }
    }

    & .perfil {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        background-color: var(--main);
        height: 50px;
        padding: 5px;

        /* formatação do card de perfil na parte inferior da sidebar */
        & a.nav_btn {
            display: flex;
            width: calc(100% - 45px);
            transition: var(--trans02);

            & .img_perfil {
                width: 45px;
                height: 45px;
                border-radius: 12px;
                background-color: var(--realce);
                object-fit: cover;
            }

            & .nome_cargo {
                width: calc(100% - 45px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10px;
                color: var(--texto);

                & .nome_perfil {
                    font-weight: 1rem;
                    font-weight: 500;
                    white-space: nowrap;
                }
                
                & .cargo_perfil {
                    font-weight: 300;
                    font-size: .7rem;
                    white-space: nowrap;
                }
            }

        }
        
        /* formatação do botão de sair da conta */
        & .exit_btn {
            width: 45px;
            height: 45px;
            background-color: var(--sidebar);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--trans02);
            z-index: 3;
            
            & i {
                font-size: 1.2rem;
                color: var(--texto);
                transition: var(--trans02);
            }
        }

        & .exit_btn:hover {
            background-color: var(--realce);

            & i {
                color: var(--sidebar);
            }
        }
    }
}

nav.sidebar.open {
    width: 55px;

    & .nome_sistema {
        opacity: 0;
        white-space: nowrap;
    }

    & .btn_sidebar {
        transform: rotate(0);
    }

    & .navigation_buttons ul li a span {
        opacity: 0;
        white-space: nowrap;
    }

    & a.nav_btn.btn_perfil {
        opacity: 0;
    }
}