@import url("variaveis.css");

aside {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
    /* overflow: hidden; */
    transition: all .5s ease;

    
    & .logo_sidebar {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 8px 0;

        /* div que engloba a imagem e texto da logo */
        & .logo {
            display: flex;
            gap: 10px;
            align-items: flex-end;
        }
        
        & img {
            width: 55px;
        }

        & h2 {
            color: var(--azul);
            font-size: 1.3rem;
        }

        /* 
            Aqui estou criando o botão de esconder sidebar
            porque não encontrei nenhum ícone que me agradasse
        */
        & .frame_btn_sidebar {
            height: 100%;
            width: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            & .btn_toggle_sidebar {
                width: 100%;
                height: 17px;
                border-radius: 5px;
                border: 2px solid var(--cinza-mediano);
                display: flex;
                transition: all .2s ease;

                & div {
                    height: 100%;
                    width: 35%;
                    border-right: 2px solid var(--cinza-mediano );
                    background-color: var(--cinza-mediano);
                    transition: all .2s ease;
                }
            }

            /* dica ao passar o mouse sobre o botão de fechar sidebar */
            & span.tool_tip {
                position: absolute;
                background-color: var(--branco);
                border: 1px solid var(--cinza-claro);
                color: var(--cinza-escuro);
                font-size: .8rem;
                padding: 7px;
                border-radius: 5px;
                width: max-content;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                left: 130%;
                visibility: hidden;
                opacity: 0;
                transition: opacity .3s ease;
            }

            /* 
                Hover do botão de esconder sidebar
            */
            & .btn_toggle_sidebar:hover {
                border-color: var(--azul);

                & div {
                    background-color: var(--azul);
                    border-color: var(--azul);
                }

                & span.tool_tip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    & nav.botoes_sidebar {
        display: flex;
        flex-direction: column;
        gap: 25px;

        & p.titulo_sessao_nav {
            font-size: .9rem;
            color: #9b9b9b;
            border-bottom: 1px solid var(--cinza-claro);
            padding-bottom: 8px;
        }

        & .row ul.lista_botoes_sidebar {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        & .row ul.lista_botoes_sidebar li a {
            padding: 8px;
            border-radius: 12px;
            height: 35px;

            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--cinza-escuro);
            transition: all .2s ease-in-out;

            & i {
                width: 25px;
                font-size: 1.4rem;
            }
        }

        & .row ul.lista_botoes_sidebar li a:hover {
            background-color: var(--azul);
            color: var(--branco);
        }

        & .row ul.lista_botoes_sidebar li a:hover .icon_dashboard div {
            background-color: var(--branco);
        }
        
        /* 
            eu criei esse ícone de dashboard porque não
            encontrei um ícone que me agradasse
        */
        & .icon_dashboard {
            width: 25px;
            height: 25px;
            display: grid;
            grid-template-columns: 50% 50%;
            cursor: pointer;

            & div {
                width: 85%;
                height: 85%;
                background-color: var(--cinza-escuro);
                border-radius: 3px;
                transition: all .2s ease-in-out;
            }
        }
    }
}