@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variaveis.css');

* {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    background-color: #f2f2f2;
}

/* Formatação padrão do container */
.container {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: var(--azul);
}

p {
    font-size: 1rem;
    color: var(--cinza-escuro);
}

.realce {
    font-weight: bold;
    color: var(--azul);
}

/* 
    Esses 310px que estou calculando na largura é referente a
    280px de largura da sidebar(width + padding de 15px pra cada lado)
    30px de padding do conteúdo principal(15px de cada lado)
*/
main.conteudo_principal {
    position: relative;
    width: calc(100% - 325px);
    top: 0;
    right: 0;
    left: 280px;
    height: calc(100% - 30px);
    padding: 15px 15px 15px 30px;
    background-color: var(--main);
    transition: var(--trans04);
}

main.conteudo_principal.extend {
    width: calc(100% - 240px);
    left: 85px;
}